<div class="navbar">

  <nav  role="navigation">

    <div class="nav-wrapper blue ">
      <a [routerLink]="['']" id="logo-container" class="brand-logo">TCMedia</a>

      <ul class="right hide-on-med-and-down">

        <li>
          <a routerLink="home">Home
          </a>
        </li>
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog()">Login</a>
        </li>
        <li *ngIf="!tokenAuthService.userSignedIn()">
          <a (click)="presentAuthDialog('register')">Register</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a [routerLink]="['/profile']">Profile</a>
        </li>
        <li>
          <a routerLink="/posts">Articles</a>
        </li>
        <li *ngIf="tokenAuthService.userSignedIn()">
          <a (click)="tokenAuthService.signOut()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<app-auth-dialog #authDialog></app-auth-dialog>
