<div class="container">
  <h1>Update {{ post?.title }}</h1>
  <form (ngSubmit)="updatePost(post.id )" #postForm="ngForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input *ngIf="post" class="form-control" type="text" #title='ngModel' [(ngModel)]="post.title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea *ngIf="post" class="form-control" #description='ngModel' [(ngModel)]="post.description" name="description" rows="8" cols="80"></textarea>
    </div>
    <div class="form-group">
      <label for="pulished">Published</label>
      <input *ngIf="post" class="form-control" #published='ngModel' [(ngModel)]="post.published" type="checkbox" name="published" value="">
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select *ngIf="post" class="form-control" name="post.category_id" #post.category='ngModel' [(ngModel)]="post.category_id">
        <option *ngFor="let category of categories"  [ngValue]="category.id">{{ category.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" name="button">Update Post</button>
    </div>

  </form>
</div>
