<!-- /.container -->
<div class="row">
    <div *ngFor="let post of posts" class="col s12 m3">
      <div class="card">
        <div class="card-image">
          <img src="http://placehold.it/500x325">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-content">
          <h4 class="card-title truncate">{{ post.title }}</h4>
          <p class="card-text truncate">{{ post.description }}.</p>
        </div>
        <div class="card-action">
          <a routerLink="/post/{{ post.id }}" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>
    </div>
  </div>
