<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Recent Articles</h1>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4" *ngFor="let post of posts.slice(0,4)">
      <div class="card">
        <img class="card-img-top" src="http://placehold.it/500x325" alt="">
        <div class="card-body">
          <h4 class="card-title truncate">{{ post.title }}</h4>
          <p class="card-text truncate">{{ post.description }}.</p>
        </div>
        <div class="card-footer">
          <a routerLink="/post/{{ post.id }}" class="btn btn-primary">Find Out More!</a>
        </div>
      </div>

  </div>
  <!-- /.row -->

  </div>
</div>
<!-- /.container -->
